<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>每天都被自己帅醒!</title>
    <link rel="stylesheet" href="">
    <script type="text/javascript" src="../js/vue.js"></script>
    <style type="text/css">
        p {
            width: 100px;
            height: 50px;
            border: 1px solid red;
        }
    </style>
</head>

<body>
    <div id="app">
        <fieldset>
            <legend>
                通过v-if和v-else指令操作:对元素(标签)干掉或者新增
            </legend>
            <input type="button" value="切换显示效果" @click="toggleIsOK">
            <p id="p1" v-if="isOk">我喜欢你</p>
            <p id="p2" v-else>我讨厌你</p>
        </fieldset>
        <fieldset>
            <legend>通过v-show指令操作:对元素(标签)样式的操作</legend>
            <input type="button" value="切换效果" @click="show=!show">
            <p id="p3" v-show="show">在一起</p>
            <p id="p4" v-show="!show">分开</p>
        </fieldset>

        <fieldset>
            <legend>简写操作</legend>
            <input type="button" value="切换效果" @click="">
            <p id="p5">在一起</p>
            <p id="p6">分开</p>
        </fieldset>

        <p v-if="seen">这是一个p</p>
    </div>
    <script type="text/javascript">
        const vm = new Vue({
            el:'#app',
            data:{
                isOk:true,
                seen:false,
                show:true
            },
            methods: {
                toggleIsOK(){
                    this.isOk=!this.isOk
                }
            }
        })
       
    </script>
</body>

</html>